{{extend 'user_admin_layout.html'}}

{{block sidemenu_config}}
{{sidemenu_name,sidemenu_open,sidemenu_active='SIDEMENU',"['user']","password"}}
{{end sidemenu_config}}


{{block title}}Change password{{end title}}

{{block content}}
<card>
{{if request.user and request.user.auth_type=="default":}}
<h3 class="page-header">{{=_("Change Password")}}</h3>
{{<< form}}
{{else:}}
<div class="alert alert-warning" role="alert">
    <h4>Warning!</h4><p>Could not change password for current user auth type. </p>
</div>
{{pass #auth_type=="default"}}
</card>
{{end content}}
