{{extend 'user_admin_layout.html'}}

{{block sidemenu_config}}
{{sidemenu_name,sidemenu_active='SIDEMENU',"user/password"}}
{{end sidemenu_config}}


{{block title}}Change password{{end title}}

{{block content_header_title}}<h1>{{=_("Change Password")}}</h1>{{end content_header_title}}

{{block content_main}}
{{if request.user and request.user.auth_type=="default":}}
{{use "ui.jquery"}}
<div class="box-body">
    {{<< form}}
</div>
{{else:}}
<div class="callout callout-warning">
        <h4>Warning!</h4><p>Could not change password for current user auth type. </p></div>
{{pass #auth_type=="default"}}
{{end}}
